<section>
    <div class="container">
        <h1 class="success" >Order Placed Successfully</h1>
        <div class="link">
        <a href="/orders" >view orders</a>
        <a href="/">Go shopping</a>
        </div>
    </div>
</section>

<style>
    .success{
        text-align: center;
        font-weight: bolder;
        margin-top: 4rem;
        color: green;
    }
    .link{
        text-align: center;
        color: blue;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: medium;
        text-decoration: none;
    }
</style>